.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.listContacts{
  width: 80%;
}
.Selector{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
.contact{
  display: flex;
  padding: 5px;
  font-size: 15px;
}
.contact.open{
  display: flex;
  padding: 25px;
  font-size: 15px;
  border: 1px solid white;
}
.contact > .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid red;
  margin-right: 5px;
}
.contact > .avatar.display {
  border: 2px solid blue;
  width: 64px;
  height: 64px;
}
.contact .email{
  font-size: 24px;

}
.contact .name{
  color: #79849a;
    text-align: left;
}
.scroller{
  height: 400px;
  overflow-y: auto;
}

